body {
    background-color: azure;
    font-family: 'Press Start 2P', cursive;
}
#board {
    border-spacing: 6px;
  }
  #board td {
    border-color: #999;
    border-width: 3px;
    border-style: dotted;
    padding: 3px;
    font-size: 36px;
    text-align: center;
    cursor: pointer;
    width: 3em;
    height: 3em;
  }