body {
    margin: 0;
    padding: 0;
    background-color:black;
    font-family: 'Press Start 2P', cursive;
  
  }
  
  #container {
    background-color: black;
    max-width: 640px;
    height: 750px;
    margin: 0 auto;
    border-radius: 10px;
    border: solid 4px blue;
    color: yellow;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  #board {
    border-spacing: 6px;
    margin: 0 auto;
  }
  
  #board td {
    border-color: blue;
    border-width: 3px;
    border-style: dashed;
    padding: 3px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    width: 7em;
    height: 7em;
  
  }
  
  #board td:hover {
    border-style: dashed; 
    background-color: grey;
  }
  
  .pushed {
    background-color: #fff;
    color: #000;
  }
  
  .winning-square {
    background-color: lime !important;
  }
  
  .selected {
    display:inline-block;
    padding:0.5em 1em;
    min-width: 2em;

  }
  
#restart {
      border-radius: 50%;
      background: red;
      width: 150px;
      height: 150px;
      float: right;
      font-family: 'Press Start 2P', cursive;
      font-size: 1.0em;
      margin-right: 50px;
      color: yellow;
  }
  #reset {
    border-radius: 10px;
    background: purple;
    width: 370px;
    height: 40px;
    margin: 0 auto;
    display: block;
    font-family: 'Press Start 2P', cursive;
    font-size: 1.0em;
    color: yellow;
}

  h1 {
      padding-top: 20px;
      text-align: center;
  }

  .label {
      padding: 20px;
      margin-left: 50px;
  }

  #turn-label {
      padding: 20px;
      text-align: center;
  }

  #turn {
      padding: 20px;
      text-align: center;
  }